{% extends "index.jinja2" %}
{% block style %}
    <title>Title</title>
    <link href="{{ request.static_url(':static/css/main_style.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ request.static_url(':static/css/jquery.tagsinput.css') }}" rel="stylesheet" type="text/css">
{% endblock style %}
{% block shoe_profile %}
    <li><a href="{{ request.route_url('user_edit') }}"><i class="icon-user"></i> مشاهده پروفایل </a>
    </li>
{% endblock shoe_profile %}
{% block sidbar %}
    <li class="panel active">
        <a href="{{ request.route_url('student') }}">
            <i class="icon-table"><span style="margin-right: 10px">داشبورد  </span></i>
        </a>
    </li>
    <li class="panel ">
        <a href="{{ request.route_url('user_edit') }}" data-parent="#menu" data-toggle="collapse" class="accordion-toggle collapsed"
           data-target="#form-nav">
            <i class="icon-pencil" ><span style="margin-right: 10px">ویرایش اطلاعات </span></i>
        </a>
    </li>
    <li class="panel">
        <a href="{{ request.route_url('question_show') }}" data-parent="#menu" data-toggle="collapse"
           class="accordion-toggle collapsed"
           data-target="#form-nav">
            <i class="icon-eye-open" ><span style="margin-right: 10px">مشاهده سوالات</span></i>
        </a>
    </li>
{% endblock sidbar %}
{% block location %}
    داشبورد
{% endblock location %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class=" panel panel-default">
                    <div class="panel panel-heading text-center color_blue">
                        وارد کردن سوال
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <textarea id="editor1" name="editor1"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-10 col-md-offset-1">
                <div class=" panel panel-default">
                    <div class="panel panel-heading text-center color_blue">
                        تگ های مربوطه
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <input type="text" class=" tags_1 tags" value="{{ ','.join(li_) }}"/>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-2"></div>
            <div class="col-md-2">
                <button style="margin-bottom: 20px" class="btn btn-success save">ثبت اطلاعات</button>
            </div>
            <div class="col-md-8 text-center message">

            </div>
        </div>
    </div>
{% endblock content %}
{% block javascript %}
    <script src="{{ request.static_url(':static/js/jquery.tagsinput.js') }}"></script>
    <script type="text/javascript">

        function onAddTag(tag) {
            alert("Added a tag: " + tag);
        }
        function onRemoveTag(tag) {
            alert("Removed a tag: " + tag);
        }

        function onChangeTag(input, tag) {
            alert("Changed a tag: " + tag);
        }

        $(function () {

            $('.tags_1').tagsInput({width: 'auto'});
        });
    </script>
    <script src="{{ request.static_url(':static/ckeditor/ckeditor.js') }}"></script>
    <script type="text/javascript">
        var editor_a = CKEDITOR.replace('editor1', {language: 'fa'});
    </script>
    <script type="text/javascript">
        $(".save").click(function () {
            $.ajax({
                url: "/student",
                type: "post",
                data: {
                    "content": editor_a.getData(),
                    "tags": $(".tags").val()
                },
                success: function (response) {
                    var str_ = "";
                    str_ += " <h3 style='color:black'>" + response['bool_'] + "<h3>";
                    $(".message").html(str_)
                }
            })
        })
    </script>

{% endblock javascript %}