{% extends "index.jinja2" %}
{% block style %}
    <title>Title</title>
    <link href="{{ request.static_url(':static/css/main_style.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ request.static_url(':static/css/login.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ request.static_url(':static/css/jquery.tagsinput.css') }}" rel="stylesheet" type="text/css">
{% endblock style %}
{% block shoe_profile %}
    <li><a href="{{ request.route_url('user_edit') }}"><i class="icon-user"></i> مشاهده پروفایل </a>
    </li>
{% endblock shoe_profile %}
{% block sidbar %}
    <li class="panel">
        <a href="{{ request.route_url('student') }}">
            <i class="icon-table"><span style="margin-right: 10px">داشبورد</span></i>
        </a>
    </li>
    <li class="panel">
        <a href="{{ request.route_url('user_edit') }}" data-parent="#menu" data-toggle="collapse"
           class="accordion-toggle collapsed"
           data-target="#form-nav">
            <i class="icon-pencil"><span style="margin-right: 10px"></span> ویرایش اطلاعات</i>
        </a>
    </li>
    <li class="panel active">
        <a href="{{ request.route_url('question_show') }}" data-parent="#menu" data-toggle="collapse"
           class="accordion-toggle collapsed"
           data-target="#form-nav">
            <i class="icon-eye-open" ><span style="margin-right: 10px">مشاهده سوالات</span></i>
        </a>
    </li>
{% endblock sidbar %}
{% block location %}
    مشاهده سوالات
{% endblock location %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="text-center color_blue panel-title">جدیدترین سوالات</h3>

                        <div class="message"></div>
                    </div>
                    <div class="panel-body">
                        {% for d_ in dic_ %}
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="row">
                                        <div class="col-md-10 col-md-offset-1"><img class="img-responsive height_90"
                                                                                    src="{{ request.static_url(':static/img/' + dic_[d_]['user_info']['img_name'] ) }}">
                                        </div>
                                        <div class="col-md-12 text-center">{{ dic_[d_]['user_info']['username'] }}</div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h4>{{ dic_[d_]['content'] }}</h4>
                                        </div>
                                        <div class="col-md-8 nav_main">
                                            <ul class="nav nav-pills">
                                                {% for name in dic_[d_]['list'] %}
                                                    <li role="presentation" class="right"><a
                                                            href="#">{{ name['name'] }}</a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                        <div class="col-md-4 margin_top_47">
                                            <div class="row">
                                                <div class="col-md-6 ">
                                                    <button data-like="{{ dic_[d_]['like'] }}" data-id="{{ d_ }}"
                                                            class="like btn btn-lg  glyphicon glyphicon-thumbs-up"></button>
                                                </div>
                                                <div class="col-md-6">
                                                    <button data-like="{{ dic_[d_]['like'] }}" data-id="{{ d_ }}"
                                                            class="dislike btn btn-lg  glyphicon glyphicon-thumbs-down"></button>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-md-4"> لایک</div>
                                        <div class="col-md-4"> کامنت</div>
                                        <div class="col-md-4">بازدید</div>
                                        <div class="col-md-4 like_count " data-id="{{ d_ }}"> {{ dic_[d_]['like'] }} </div>
                                        <div class="col-md-4"> {{ dic_[d_]['comment_count'] }} </div>
                                        <div class="col-md-4"> {{ dic_[d_]['view_count'] }} </div>
                                    </div>
                                    <div class="row margin_top19">
                                        <div class="col-md-6"><a href="{{ request.route_url('response', id_q = d_) }}">
                                            <button class="btn btn-primary">مشاهده پاسخ</button>
                                        </a></div>
                                        <div class="col-md-6"><a href="{{ request.route_url('answer', id_q = d_) }}">
                                            <button class="btn btn-primary">پاسخ دادن</button>
                                        </a></div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock content %}
{% block javascript %}
    <script type="text/javascript">
        $(".like").click(function () {
            var q_id = $(this).attr("data-id");
            var like_count = $(this).attr("data-like");
            $.ajax({
                url: "/questionshow",
                type: "post",
                data: {"button": "like", "q_id": q_id, "like_count": like_count},
                success: function (response) {
                    if (response['message']) {
                        $(".like_count[data-id=" + q_id+ "]").html(response['number'])
                    }
                }
            });
        });
        $(".dislike").click(function () {
            var q_id = $(this).attr("data-id");
            var like_count = $(this).attr("data-like");
            $.ajax({
                url: "/questionshow",
                type: "post",
                data: {"button": "dislike", "q_id": q_id, "like_count": like_count},
                success: function (response) {
                    if (response['message']) {
                        $(".like_count[data-id=" + q_id+ "]").html(response['number'])
                    }
                }
            });
        })

    </script>
{% endblock javascript %}