{% extends "index.jinja2" %}
{% block style %}
    <title>Title</title>
    <link href="{{ request.static_url(':static/css/main_style.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ request.static_url(':static/css/login.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ request.static_url(':static/css/jquery.tagsinput.css') }}" rel="stylesheet" type="text/css">
{% endblock style %}
{% block shoe_profile %}
    <li><a href="{{ request.route_url('user_edit') }}"><i class="icon-user"></i> مشاهده پروفایل </a>
    </li>
{% endblock shoe_profile %}
{% block sidbar %}
    <li class="panel">
        <a href="{{ request.route_url('student') }}">
            <i class="icon-table"><span style="margin-right: 10px">داشبورد</span></i>
        </a>
    </li>
    <li class="panel">
        <a href="{{ request.route_url('user_edit') }}" data-parent="#menu" data-toggle="collapse"
           class="accordion-toggle collapsed"
           data-target="#form-nav">
            <i class="icon-pencil"><span style="margin-right: 10px"></span> ویرایش اطلاعات</i>
        </a>
    </li>
    <li class="panel">
        <a href="{{ request.route_url('question_show') }}" data-parent="#menu" data-toggle="collapse"
           class="accordion-toggle collapsed"
           data-target="#form-nav">
            <i class="icon-eye-open" ><span style="margin-right: 10px">مشاهده سوالات</span></i>
        </a>
    </li>
    <li class="panel active">
        <a href="#" data-parent="#menu" data-toggle="collapse" class="accordion-toggle collapsed"
           data-target="#form-nav">
            <i class="icon-mail-reply" ><span style="margin-right: 10px">پاسخ سوال </span></i>
        </a>
    </li>
{% endblock sidbar %}
{% block location %}
    پاسخ سوال
{% endblock location %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">{{ dic_['content'] }}</div>
        </div>
        <div class="row ">
            {% for dic_ in li_ %}
                <div class="col-md-10 col-md-offset-1 margin_padding_top1 panel panel-default">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="row">
                                <div class="col-md-12 text-center">{{ dic_ ['user_info']['username'] }}</div>
                                <div class="col-md-8 col-md-offset-2"><img class="img-responsive"
                                                                           src="{{ request.static_url(':static/img/' + dic_['user_info']['img_name']) }}">
                                </div>
                                <div class="col-md-12">
                                    <div class="row ">
                                        <div class="col-md-12 text-center margin_top5">کامنت</div>
                                        <div class="col-md-12 text-center">{{ dic_['comment_count'] }}</div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12 text-center">لایک</div>
                                        <div data-id="{{ dic_['id'] }}" class="col-md-12 text-center like_count">{{ dic_['like'] }}</div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12 text-center">بازدید ها</div>
                                        <div class="col-md-12 text-center">{{ dic_['view_count'] }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-10 background_" style="padding-top: 60px;padding-bottom: 60px">
                            {{ dic_['content'] | safe }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-9">
                        </div>
                        <div class="col-md-3">
                            <div class="row">
                                <div class="col-md-6">
                                    <button data-like="{{ dic_['like'] }}" data-id="{{ dic_['id'] }}"
                                            class="like btn btn-lg  glyphicon glyphicon-thumbs-up"></button>
                                </div>
                                <div class="col-md-6">
                                    <button data-like="{{ dic_['like'] }}" data-id="{{ dic_['id'] }}"
                                            class="dislike btn btn-lg  glyphicon glyphicon-thumbs-down"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
{% block javascript %}
    <script type="text/javascript">
        $(".like").click(function () {
            var q_id = $(this).attr("data-id");
            var like_count = $(this).attr("data-like");
            $.ajax({
                url: "/response/1",
                type: "post",
                data: {"button": "like", "q_id": q_id, "like_count": like_count},
                success: function (response) {
                    if (response['message']) {
                         $(".like_count[data-id=" + q_id+ "]").html(response['number'])
                    }
                }
            });
        });
        $(".dislike").click(function () {
            var q_id = $(this).attr("data-id");
            var like_count = $(this).attr("data-like");
            $.ajax({
                url: "/response/1",
                type: "post",
                data: {"button": "dislike", "q_id": q_id, "like_count": like_count},
                success: function (response) {
                    if (response['message']) {
                         $(".like_count[data-id=" + q_id+ "]").html(response['number'])
                    }
                }
            });
        })
    </script>
{% endblock javascript %}