body{

    font-family: Tahoma, sans-serif;
    direction: rtl!important;
}
.b_color{
    background: black;
}
#right_button{
    float: right !important;
    font-size: 17px;
}
.margin_right{
    margin-right: 10%;
}
.margin_top{
    margin-top: 3px;
}
.height_46{
    height: 46px !important;
    margin: 3px;
}
.height_90{
    height: 90px !important;
    margin: 3px;
}
.height_100{
    height: 100px;
}
.margin_3{
    margin: 3px;
}
.nav_main ul li{
    background-color: #888888 !important;
    border-radius: 0 !important;
    margin: 0 3px 0 3px !important;

}
.nav_main ul li :active{
    background-color: orange !important;
}
.nav_main ul li :hover{
    background-color: orange !important;
}
.nav_main ul {
    margin-top: 47px;
}
.nav_main ul li a{
    color: white !important;
    padding: 5px 11px !important;
}
.margin_top19{
    margin-top: 19% !important;
}
.margin_top15{
    margin-top: 15% !important;
}
.margin_top5{
    margin-top: 5% !important;
}
.margin_padding_top1{
    margin-top: 4% !important;
    padding: 1% !important;
}
.margin_right_17{
    margin-right: 17% !important;
}
.margin_right_20{
    margin-right: 22% !important;
}
.color_blue{
    color: blue !important;
    font-weight: 900 !important;
    font-size: 18px !important;
}
.padding_top_20{
    margin-top: 20% !important;
    margin-bottom: 10% !important;
}
.background_{
    background-color: #F2F2F2;
    text-align: center;
}
.margin_top_47{
    margin-top: 47px;
}