{% extends "index.jinja2" %}
{% block style %}
    <title>Title</title>
    <link href="{{ request.static_url(':static/css/main_style.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ request.static_url(':static/css/login.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ request.static_url(':static/css/jquery.tagsinput.css') }}" rel="stylesheet" type="text/css">
{% endblock style %}
{% block shoe_profile %}
    <li><a href="#"><i style="margin-left: 10px" class="icon-user"></i> مشاهده پروفایل </a>
    </li>
{% endblock shoe_profile %}
{% block sidbar %}
    <li class="panel">
        <a href="{{ request.route_url('student') }}">
            <i class="icon-table"><span style="margin-right: 10px">داشبورد  </span></i>
        </a>
    </li>
    <li class="panel active ">
        <a href="{{ request.route_url('user_edit') }}" data-parent="#menu" data-toggle="collapse" class="accordion-toggle collapsed"
           data-target="#form-nav">
            <i class="icon-pencil" ><span style="margin-right: 10px">ویرایش اطلاعات </span></i>
        </a>
    </li>

{% endblock sidbar %}
{% block location %}
    ویرایش اطلاعات
{% endblock location %}
{% block content %}
    <div class="container">
    <div class="tab-content">
        <div id="signup" class="tab-pane active">
            <div class="form-signin">
                <p class="text-muted text-center btn-block btn btn-primary btn-rect">ویرایش اطلاعات</p>
                <input type="text" id="name" placeholder="نام" value="{{ dict_['name'] }}" class="form-control"/>
                <input type="text" id="family" placeholder="نام خانوادگی" value="{{ dict_['family'] }}" class="form-control"/>
                <input type="email" id="email" placeholder="ایمیل" value="{{ dict_['email'] }}" class="form-control"/>
                <input type="text" id="username" placeholder="نام کاربری" value="{{ dict_['username'] }}" class="form-control"/>
                <input type="password" id="password" placeholder="رمز عبور" value="{{ dict_['password'] }}" class="form-control"/>
                <input type="password" id="password2" placeholder="تکرار رمز عبور" value="{{ dict_['password'] }}" class="form-control"/>
                <button class="btn text-muted text-center btn-success save" type="submit">ثبت اطلاعات</button>
                <div class="message"></div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block javascript %}
    <script type="text/javascript">
    $(".save").click(function () {
        $.ajax({
            url: "/admin_edit",
            type: "post",
            data: {
                "name": $("#name").val(),
                "password": $("#password").val(),
                "username": $("#username").val(),
                "family": $("#family").val(),
                "email": $("#email").val(),
                "password2": $("#password2").val()
            },
            success: function(response){
                var str_ = "";
                str_ += "<h4 style='color:red'> " + response['message'] + "</h4>";
                $(".message").html(str_)
            }
        });
    })
</script>
{% endblock javascript %}