{% extends "index.jinja2" %}
{% block style %}
    <title>Title</title>
    <link href="{{ request.static_url(':static/css/main_style.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ request.static_url(':static/css/jquery-ui.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ request.static_url(':static/css/jquery.tagsinput.css') }}" rel="stylesheet" type="text/css">
{% endblock style %}
{% block shoe_profile %}
    <li><a href="#"><i class="icon-user"></i> مشاهده پروفایل </a>
    </li>
{% endblock shoe_profile %}
{% block sidbar %}
    <li class="panel active">
        <a href="{{ request.route_url('student') }}">
            <i class="icon-table"><span style="margin-right: 10px">داشبورد  </span></i>
        </a>
    </li>
    <li class="panel ">
        <a href="{{ request.route_url('user_edit') }}" data-parent="#menu" data-toggle="collapse" class="accordion-toggle collapsed"
           data-target="#form-nav">
            <i class="icon-pencil" ><span style="margin-right: 10px">ویرایش اطلاعات </span></i>
        </a>
    </li>

{% endblock sidbar %}
{% block location %}
    داشبورد
{% endblock location %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="text-center color_blue panel-title">جدیدترین سوالات</h3>
                    </div>
                    <div class="panel-body">
                        {% for d_ in dic_ %}
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="row">
                                        <div class="col-md-8 col-md-offset-2"><img class="img-responsive height_90"
                                                                                   src="{{ request.static_url(':static/img/' + dic_[d_]['user_info']['img_name'] ) }}">
                                        </div>
                                        <div class="col-md-12 text-center user_id">{{ dic_[d_]['user_info']['username'] }}</div>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="row">
                                        <div class="col-md-9">
                                            <div class="row">
                                                <div class="col-md-12 ">
                                                    <h4 class="id_q"
                                                        data-question="{{ d_ }}">{{ dic_[d_]['content'] | safe }}</h4>
                                                </div>
                                                <div class="col-md-12 ">
                                                    <ul class="list-unstyled">
                                                        <li>
                                                                <input type="text" class=" tags_1 tags" data-tag="{{ d_ }}"
                                                                       value="{{ ','.join(dic_[d_]['list']) }}"/>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <button data-id="{{ d_ }}"
                                                    class="btn btn-primary padding_top_20 edit">ویرایش سوال
                                            </button>
                                            <form>
                                                <label>تایید</label>
                                                <input class="oky" data-user="{{ dic_[d_]['user_info']['id'] }}"
                                                       data-check="{{ d_ }}" type="checkbox">
                                            </form>

                                        </div>

                                    </div>
                                </div>
                            </div>
                            <hr>
                        {% endfor %}
                        <div class="col-md-9">
                            <div class="message text-center"></div>
                        </div>
                        <div class="col-md-3">
                            <button type="button" class="btn btn-primary save">ذخیره سوالات</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {# -----------------------------------modal viratesh #}
        <div class="modal fade " id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    </div>
                    <h3 class=" text-center color_blue">
                        ویرایش سوال
                    </h3>

                    <textarea class="editor_" id="editor1" name="editor1"></textarea>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default exit" data-dismiss="modal">بستن</button>
                        <button type="button" class="btn btn-primary save_change">ذخیره تغییرات</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block javascript %}
    <script src="{{ request.static_url(':static/js/jquery.tagsinput.js') }}"></script>
    <script src="{{ request.static_url(':static/ckeditor/ckeditor.js') }}"></script>
    <script src="{{ request.static_url(':static/js/jquery-ui.js') }}"></script>
    <script type="text/javascript">

        function onAddTag(tag) {
            alert("Added a tag: " + tag);
        }
        function onRemoveTag(tag) {
            alert("Removed a tag: " + tag);
        }

        function onChangeTag(input, tag) {
            alert("Changed a tag: " + tag);
        }

        $(function () {

            $('.tags_1').tagsInput({width: 'auto'});
        });
    </script>
    <script type="text/javascript">
        var editor_a = CKEDITOR.replace('editor1', {language: 'fa'});
    </script>
    <script type="text/javascript">

        $(document).on('click', '.edit', function () {
            id_question = $(this).attr("data-id");
            var id_q = $('.id_q[data-question=' + id_question.toString() + ']').text();
            editor_a.setData(id_q);
            $("#myModal").modal('show');
        });
        $(".save_change").click(function () {
            var content = editor_a.getData();
            $('.id_q[data-question=' + id_question.toString() + ']').html(content);
            $(".exit").click()
        });
        $(".save").click(function () {
            var list_info = [];
            var list_tags = [];
            $(".oky").each(function () {
                if ($(this).is(':checked')) {
                    var user_id = $(this).attr("data-user");
                    var id_q = $(this).attr("data-check");
                    var content = $('.id_q[data-question=' + id_q + ']').text();
                    var tag = $(".tags[data-tag=" + id_q + ']').val();
                    list_tags.push(tag);

                    list_info.push({user_id: user_id, content: content, id_q: id_q, tags: list_tags})
                }
            });
            $.ajax({
                url: "/admin",
                type: "post",
                data: {list_info: JSON.stringify(list_info)},
                success: function (response) {
                    var str_ = "";
                    str_ += " <h4 style='color:black'>" + response['message'] + "<h4>";
                    $(".message").html(str_)
                }
            })
        })
    </script>
{% endblock javascript %}