{% extends "index_main.jinja2" %}
{% block style %}
    <title>home</title>
{% endblock style %}
{% block content %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2 margin_top5">
            <div class="row">
                <div class="col-md-7" style="background-color: rgba(45, 49, 60, .1)">
                    <br>
                    <span>نام و نام خانوادگی:</span>
                    <span>رحمان اصغری</span>
                    <br>
                    <br>
                    <span>ایمیل:</span>
                    <span>r.asghari@email.com</span>
                    <br>
                    <br>
                    <span>میزان تحصیلات:</span>
                    <span>در حال تحصیل(گرفتن مدرک مهندسی کامپیوتر)</span>
                    <br>
                    <br>
                    <span>آدرس:</span>
                    <span>استان سبزوار</span>
                    <br>
                    <br>
                    <span>وضعیت تاهل:</span>
                    <span>متاهل</span>
                    <br>
                    <br>
                </div>
                <div class="col-md-5"><img src="{{ request.static_url(':static/img/1.jpg') }}"
                                           style="width: 265px ; height:220px"></div>
            </div>
        </div>
    </div>

{% endblock content %}
