{% extends "index_main.jinja2" %}
{% block style %}
    <title>home</title>
{% endblock style %}
{% block content %}
    <div class="container">
        <div class="row margin_top15">
            <div class="col-md-8 col-md-offset-2 background_">
                <h4>برای پرسیدن سوال باید وارد سایت شوید </h4>
                <a href="{{ request.route_url('login') }}">اینجا را کلیک کنید</a>
                <br>
                </br>
                <h4>اگر عضو سایت نیستید</h4>
                <a href="{{ request.route_url('sign up') }}">اینجا را کلیک کنید</a>
            </div>
        </div>
    </div>
{% endblock content %}
