<html>
<head>
    <link href="{{ request.static_url(':static/css/main_style.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ request.static_url(':static/plugin/css/bootstrap.rtl.css') }}" rel="stylesheet" type="text/css">
    <meta charset="UTF-8">
</head>
<body>
<div class="margin_top19">
    <div class="row ">
        {% if "admin" and  "student" in li_ %}
            <div class="col-md-3 margin_right_17 pull-right">
                <div class=" panel panel-default">
                    <div class="panel panel-heading text-center color_blue">
                        admin
                    </div>
                    <div class="panel-body">

                        <a data-toggle="modal" href="{{ request.route_url('admin') }}"
                           class="btn btn-success margin_right_20">ورود</a>
                        <a href="{{ request.route_url('logout') }}" class="btn btn-primary margin_right_20"><i
                                class="fa fa-sign-in"></i> خروج</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 margin_right_17 pull-right">
                <div class=" panel panel-default">
                    <div class="panel panel-heading text-center color_blue">
                        student
                    </div>
                    <div class="panel-body">

                        <a href="{{ request.route_url('student') }}" class="btn btn-success margin_right_20">ورود</a>
                        <a href="{{ request.route_url('logout') }}" class="btn btn-primary margin_right_20"><i
                                class="fa fa-sign-in"></i> خروج</a>
                    </div>
                </div>
            </div>
        {% elif "admin" in li_ %}
            <div class="col-md-3 margin_right_17 pull-right">
                <div class=" panel panel-default">
                    <div class="panel panel-heading text-center color_blue">
                        admin
                    </div>
                    <div class="panel-body">

                        <a data-toggle="modal" href="{{ request.route_url('admin') }}"
                           class="btn btn-success margin_right_20">ورود</a>
                        <a href="{{ request.route_url('logout') }}" class="btn btn-primary margin_right_20"><i
                                class="fa fa-sign-in"></i> خروج</a>
                    </div>
                </div>
            </div>
        {% elif "student" in li_ %}
            <div class="col-md-3 margin_right_17 pull-right">
                <div class=" panel panel-default">
                    <div class="panel panel-heading text-center color_blue">
                        user
                    </div>
                    <div class="panel-body">

                        <a href="{{ request.route_url('student') }}" class="btn btn-success margin_right_20">ورود</a>
                        <a href="{{ request.route_url('logout') }}" class="btn btn-primary margin_right_20"><i
                                class="fa fa-sign-in"></i> خروج</a>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</div>


<script src="{{ request.static_url(':static/plugin/js/jquery-2.0.3.min.js') }}"></script>
<script src="{{ request.static_url(':static/plugin/js/bootstrap.rtl.js') }}"></script>

</body>
</html>