{% extends "index_main.jinja2" %}
{% block style %}
    <title>home</title>
{% endblock style %}
{% block content %}
    {#---------------------- home ------------------------------#}
    <br>
    <div class="row">
        <div class="col-md-5">
            <div class="panel panel-default">
                <div class="panel-heading ">
                    <h3 class="panel-title text-center color_blue">جدیدترین سوالات</h3>
                </div>
                <div class="panel-body">
                    {% for d_2 in dic_2 %}
                        <div class="row">
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-4"> لایک</div>
                                    <div class="col-md-4"> کامنت</div>
                                    <div class="col-md-4">بازدید</div>
                                    <div class="col-md-4"> {{ dic_2[d_2]['like'] }} </div>
                                    <div class="col-md-4"> {{ dic_2[d_2]['comment_count'] }} </div>
                                    <div class="col-md-4"> {{ dic_2[d_2]['view_count'] }} </div>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h4 class="background_" style="padding-top: 30px;padding-bottom: 30px">{{ dic_2[d_2]['content'] | safe }}</h4>
                                    </div>
                                    <div class="col-md-12 nav_main">
                                        <ul class="nav nav-pills">
                                            {% for name in dic_2[d_2]['list'] %}
                                                <li role="presentation" class="right"><a href="#">{{ name['name'] }}</a>
                                                </li>
                                            {% endfor %}

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="text-center color_blue panel-title">محبوبترین سوالات</h3>
                </div>
                <div class="panel-body">
                    {% for d_ in dic_ %}
                        <div class="row">
                            <div class="col-md-3">
                                <div class="row">
                                    <div class="col-md-4"> لایک</div>
                                    <div class="col-md-4"> کامنت</div>
                                    <div class="col-md-4">بازدید</div>
                                    <div class="col-md-4"> {{ dic_[d_]['like'] }} </div>
                                    <div class="col-md-4"> {{ dic_[d_]['comment_count'] }} </div>
                                    <div class="col-md-4"> {{ dic_[d_]['view_count'] }} </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h4 class="background_" style="padding-top: 30px;padding-bottom: 30px">{{ dic_[d_]['content'] | safe }}</h4>
                                    </div>
                                    <div class="col-md-12 nav_main">
                                        <ul class="nav nav-pills">
                                            {% for name in dic_[d_]['list'] %}
                                                <li role="presentation" class="right"><a href="#">{{ name['name'] }}</a>
                                                </li>
                                            {% endfor %}

                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="row">
                                        <div class="col-md-8 col-md-offset-2"><img class="img-responsive height_90"
                                                                    src="{{ request.static_url(':static/img/' + dic_[d_]['user_info']['img_name'] ) }}">
                                        </div>
                                        <div class="col-md-12 text-center">{{ dic_[d_]['user_info']['username'] }}</div>
                                    </div>
                            </div>
                        </div>
                        <hr>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}


{# ----------------------------------------------soalat #}
{#<div class="panel-body">#}
{#    <ul class="nav nav-tabs">#}
{#        <li class=""><a href="#home" data-toggle="tab">Home</a>#}
{#        </li>#}
{#        <li class=""><a href="#profile" data-toggle="tab">Profile</a>#}
{#        </li>#}
{#        <li><a href="#messages" data-toggle="tab">Messages</a>#}
{#        </li>#}
{#        <li class="active"><a href="#settings" data-toggle="tab">Settings</a>#}
{#        </li>#}
{#    </ul>#}
{##}
{#    <div class="tab-content">#}
{#        <div class="tab-pane fade" id="home">#}
{#            <h4>Home Tab</h4>#}
{##}
{#            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et#}
{#                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip#}
{#                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu#}
{#                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia#}
{#                deserunt mollit anim id est laborum.</p>#}
{#        </div>#}
{#        <div class="tab-pane fade" id="profile">#}
{#            <h4>Profile Tab</h4>#}
{##}
{#            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et#}
{#                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip#}
{#                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu#}
{#                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia#}
{#                deserunt mollit anim id est laborum.</p>#}
{#        </div>#}
{#        <div class="tab-pane fade" id="messages">#}
{#            <h4>Messages Tab</h4>#}
{##}
{#            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et#}
{#                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip#}
{#                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu#}
{#                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia#}
{#                deserunt mollit anim id est laborum.</p>#}
{#        </div>#}
{#        <div class="tab-pane fade active in" id="settings">#}
{#            <h4>Settings Tab</h4>#}
{##}
{#            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et#}
{#                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip#}
{#                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu#}
{#                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia#}
{#                deserunt mollit anim id est laborum.</p>#}
{#        </div>#}
{#    </div>#}
{#</div>#}

