﻿<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8"/>
    <title>داشبورد </title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <link rel="stylesheet" href="{{ request.static_url(':static/plugin/css/bootstrap.rtl.css') }}"/>
    <link rel="stylesheet" href="{{ request.static_url(':static/css/main.css') }}"/>
    <link rel="stylesheet" href="{{ request.static_url(':static/css/MoneAdmin.css') }}"/>
    <link rel="stylesheet" href="{{ request.static_url(':static/css/font-awesome.css') }}"/>
    {% block style %}
    {% endblock style %}

</head>
<body class="padTop53 ">

<div id="wrap">
    <div id="top">
        <nav class="navbar navbar-inverse navbar-fixed-top " style="padding: 10px;">
            <a data-original-title="Show/Hide Menu" data-placement="bottom" data-tooltip="tooltip"
               class="accordion-toggle btn btn-primary btn-sm visible-xs" data-toggle="collapse" href="#menu"
               id="menu-toggle">
                <i class="icon-align-justify"></i>
            </a>
            <!-- LOGO SECTION -->
            <header class="navbar-header">

                <a href="#" class="navbar-brand">
                    <img src="{{ request.static_url(':static/img/Logo.gif') }}" alt="" height="30"/>

                    <h1 class="site-title">سوال و جواب</h1>
                </a>
            </header>
            <!-- END LOGO SECTION -->
            <ul class="nav navbar-top-links navbar-left">
                <li class="dropdown" style="float:left;">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="icon-user "></i>&nbsp; <i class="icon-chevron-down "></i>
                    </a>

                    <ul class="dropdown-menu dropdown-user">
                        {% block shoe_profile %}
                        {% endblock shoe_profile %}

                        <li class="divider"></li>
                        <li><a href="{{ request.route_url('logout') }}"><i class="icon-signout"></i> خروج </a>
                        </li>
                    </ul>

                </li>
            </ul>
        </nav>
    </div>
    <div id="right">
        <div class="media user-media well-small">
            <a class="user-link" href="#">
                <img class="media-object img-thumbnail user-img" width="66px" height="66px" alt="User Picture"
                     src="{{ request.static_url(':static/img/' + img_name) }}"/>
            </a>
            <br/>

            <div class="media-body">
                <h5 class="media-heading"> {{ username }}</h5>
            </div>
            <br/>
        </div>

        <ul id="menu" class="collapse">
            {% block sidbar %}
            {% endblock sidbar %}
        </ul>

    </div>
    <div id="content">
        <div class="inner" style="min-height: 700px;">
            <div class="row">
                <div class="col-lg-12">
                    <h1>
                        {% block location %}
                        {% endblock location %}
                    </h1>
                </div>
            </div>
            <hr/>
            {% block content %}
            {% endblock content %}
        </div>
    </div>
</div>
<div id="footer">
    <p>کلیه حقوق سایت متعلق به <a href="localhost:8889/">سوال وجواب </a> می باشد.</p>
</div>
<script src="{{ request.static_url(':static/plugin/js/jquery-2.0.3.min.js') }}"></script>
<script src="{{ request.static_url(':static/plugin/js/bootstrap.rtl.js') }}"></script>
{#<script src="{{  request.static_url(':static/js/for_index.js') }}"></script>#}
{% block javascript %}
{% endblock javascript %}
</body>
</html>
