<html>
<head>
    <link href="{{ request.static_url(':static/css/main_style.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ request.static_url(':static/plugin/css/bootstrap.rtl.css') }}" rel="stylesheet" type="text/css">
    <meta charset="UTF-8">
    {% block style %}
    {% endblock style %}
</head>
<body style="background-color: rgba(242, 242, 242, 0.33)">
<div>
    <div class="b_color">
        <div class="col-md-11">
            <ul class="nav nav-pills margin_right margin_top">
                <li role="presentation" id="right_button" {% if active == "home" %}class="active"{% endif %}><a
                        href="{{ request.route_url('home') }}">خانه</a></li>
                <li role="presentation" id="right_button" {% if active == "login" %}class="active"{% endif %}><a
                        href="{{ request.route_url('login') }}">ورود</a></li>
                <li role="presentation" id="right_button" {% if active == "signup" %}class="active"{% endif %}><a
                        href="{{ request.route_url('sign up') }}">ثبت نام</a></li>
                <li role="presentation" id="right_button" {% if active == "about" %}class="active"{% endif %}><a
                        href="{{ request.route_url('about') }}">درباره
                    ما</a></li>
            </ul>
        </div>
        <div class="col-md-1"><img class="img-responsive height_46"
                                   src="{{ request.static_url(':static/img/Logo.gif') }}">
        </div>
        <div class="clearfix"></div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-5 nav_main col-md-offset-1">
            <ul class="nav  nav-pills">
                <li role="presentation" id="right_button" {% if active2 == "askquestion" %}class="active"{% endif %}><a
                        href="{{ request.route_url('ask_question') }}">سوال پرسیدن</a></li>
                <li role="presentation" id="right_button" {% if active2 == "users" %}class="active"{% endif %}><a href="{{ request.route_url('users') }}">کاربران</a>
                </li>
                <li role="presentation" id="right_button" {% if active2 == "questions" %}class="active"{% endif %}><a href="{{ request.route_url('questions') }}">سوالات </a>
                </li>
            </ul>
        </div>
        <div class="col-md-5">
            <div class="logo"><img class="img-responsive height_100"
                                   src="{{ request.static_url(':static/img/logo.gif') }}">
            </div>
        </div>
    </div>

    {% block content %}

    {% endblock content %}

</div>
<script src="{{ request.static_url(':static/plugin/js/jquery-2.0.3.min.js') }}"></script>
<script src="{{ request.static_url(':static/plugin/js/bootstrap.rtl.js') }}"></script>

{% block javascript %}
{% endblock javascript %}

</body>
</html>