{% extends "index_main.jinja2" %}
{% block style %}
    <link href="{{ request.static_url(':static/css/login.css') }}" rel="stylesheet" type="text/css">
    <title> login </title>
{% endblock style %}
{% block content %}
    <div class="tab-content">
        <div id="login">
            <form action="{{ request.route_url('login') }}" method="post" class="form-signin">
                <p class="text-muted text-center btn-block btn btn-primary btn-rect">
                    نام کاربری و رمز عبور خود را وارد نمایید
                </p>
                <input type="text" name="username" placeholder="نام کاربری" class="form-control"/>
                <input type="password" name="password" placeholder="رمز عبور" class="form-control"/>
                <button class="btn text-muted text-center btn-danger" type="submit">ورود</button>
                <h5 class="color_red">{{ bool }}</h5>
            </form>
        </div>
    </div>
{% endblock content %}
{% block javascript %}
{% endblock javascript %}