{% extends "index_main.jinja2" %}
{% block style %}
    <link href="{{ request.static_url(':static/css/login.css') }}" rel="stylesheet" type="text/css">
    <title>sign up</title>
{% endblock style %}
{% block content %}
    <div class="tab-content">
        <div id="signup" class="tab-pane active">
            <div class="form-signin">
                <p class="text-muted text-center btn-block btn btn-primary btn-rect">لطفا برای عضویت فرم زیر را پر
                    کنید</p>
                <input type="text" id="name" placeholder="نام" class="form-control"/>
                <input type="text" id="family" placeholder="نام خانوادگی" class="form-control"/>
                <input type="email" id="email" placeholder="ایمیل شما" class="form-control"/>
                <input type="text" id="username" placeholder="نام کاربری" class="form-control"/>
                <input type="password" id="password" placeholder="رمز عبور" class="form-control"/>
                <input type="password" id="password2" placeholder="تکرار رمز عبور" class="form-control"/>
                <input type="password" id="img_temporary" placeholder="انتخاب عکس" class="form-control"/>
                <input type="file" id="img" style="display: none"/>
                <select id="province" class="form-control" style="margin-bottom: 10px !important;">
                    <option selected="selected" value="0">استان خود را انتخاب کنید</option>
                    {% for li_ in list_ %}
                        <option value="{{ li_.id }}"> {{ li_.name }}</option>
                    {% endfor %}
                </select>
                <button id="save_info" class="btn text-muted text-center btn-success">ثبت نام</button>
                <div class="message margin_top"></div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block javascript %}
    <script type="text/javascript">
        $("#img_temporary").click(function () {
            $("#img").click();
        });
        $("#save_info").click(function () {
            var information = new FormData();
            information.append("username", $("#username").val());
            information.append("password", $("#password").val());
            information.append("password2", $("#password2").val());
            information.append("name", $("#name").val());
            information.append("province", $("#province").val());
            information.append("family", $("#family").val());
            information.append("email", $("#email").val());
            information.append("img", $("#img")[0].files[0]);
            $.ajax({
                url: "/sign up",
                type: "post",
                contentType: false,
                processData: false,
                data: information,
                success: function (response) {
                    if (response['url'] == "") {
                        var str_ = "";
                        str_ += "<span style='color: red; font-weight: bold; font-size: 18px'>" + response['message'] + "</span>";
                        $(".message").html(str_)
                    }
                    else {
                        console.log(response['url']);
                        window.location.replace(response['url']);
                    }

                }
            })
        })
    </script>

{% endblock javascript %}