{% extends "index_main.jinja2" %}
{% block style %}
    <title>home</title>
{% endblock style %}
{% block content %}
    <div class="container">
        <div class="row margin_top5">
            {% for dic_ in li_ %}
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-3"><img class="img-responsive"
                                               src="{{ request.static_url(':static/img/' + dic_['img_name']) }}"></div>
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-12">{{ dic_['name'] }} &nbsp {{ dic_['family'] }}</div>
                            <div class="col-md-12">{{ dic_['username'] }}</div>
                            <div class="col-md-12">{{ dic_['province'] }}</div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
